*{
    margin:0px;
    padding:0px;
    }
    body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(172, 172, 172);
    background-size: cover;
    height: 92vh;
    }
    
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        background: black;
        height:8vh; 
        width: 100%;
                                      
    }
    a{
        color: white;
        text-decoration: none;
        transition: 0.3s;
    }
    a:hover{
        opacity: 0.7;
    }
    .nav-list{
        list-style: none;
        display: flex;
    }
    .nav-list li {
        letter-spacing: 3px;
        margin-left: 32px;
        
    }
   
    .cad{
        background-color:black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 40px;
        border-radius: 15px;
        color: white;
        font-size:15px;
        
    }
    .btn{
        margin: 2px;
        padding:8px;
        border:none;
        background-color: rgb(251, 255, 0);
        width:100%;
        border-radius: 10px;
        color: black;
        font-size: 15px;
       
    }
    .btn:hover{
        background-color: rgb(157, 157, 157);
    }
    
    h1{
         text-align: center;
    }
    li{
    padding: 05px;
    list-style: none;
}
label{
    
    padding: 5px;
}
.campo{
        padding:8px;
        border: none;
        border-radius: 05px;
        width:100%;
        outline-style: none;
    
}